# Copyright (C) 2026 Maxime P. DEMENTYEV
# SPDX-License-Identifier: GPL-3.0-only
# Generated Python and build artifacts — check_rst project

__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
*.egg-info/
docs/_build/
