# Copyright (C) 2026 Maxime P. DEMENTYEV
# SPDX-License-Identifier: GPL-3.0-only
# Source-distribution documentation and fixture manifest — check_rst project

recursive-include docs *.py *.rst
recursive-include tests/fixtures *.py *.rst *.toml
include tools/install_man_pages.py
